<%= provide(:title,  "New Post") %>

<%= render 'partials/header' %>

<main>

  <h2>New Post</h2>

  <%= form_for(@post, url: posts_path) do |f| %>
    <div>
      <%= f.text_field :title, placeholder: "title" %>
    </div>
    <div>
      <%= f.text_field :slug, placeholder: "slug" %>
    </div>
    <div>
      <%= f.text_field :image, placeholder: "image" %>
    </div>
    <div>
      <%= f.text_area :content, placeholder: "content" %>
    </div>
    <div>
      <%= f.submit "publish post" %>
    </div>
  <% end %>

</main>
